*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: aquamarine;
}
nav{
    display: flex;
}
.divh{
    margin-left: 8%;
    margin-top: 13%;
}
.divh h1{
    font-size: 70px;
    color: #000;
    margin-bottom: 20px;
}
span:hover{
    font-size: 200px;
    color: hsl(184, 66%, 64%);
}
.divh p{
    color: rgb(55, 75, 75);
    font-size: 40px;
}
.divh a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight:bold ;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}